<div class="container" style ="padding: 10px;">

    <div class = "row">
  <div class = "col-md-4">
  </div>
   <div class = "col-md-4">
    <div class ="panel panel-primary">
      <div class = "panel-heading"><center> <h3>Edit</h3> </center></div>
      <div class = "panel-body">
<%= render 'form', mark: @mark %>
<center>
	<%= link_to 'Show', @mark %> |
    <%= link_to 'Back', marks_path %>
</center>
</div>
</div>
</div>
</div>
</div>

