<div class="container" style ="padding: 10px;">

    <div class = "row">
  <div class = "col-md-4">
  </div>
   <div class = "col-md-4">
    <div class ="panel panel-primary">
      <div class = "panel-heading">Edit </div>
      <div class = "panel-body">
<%= render 'form', mark: @mark %>

<%= link_to 'Show', @mark %> |
<%= link_to 'Back', marks_path %>
</div>
</div>
</div>
</div>
</div>

