<div class="container">
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<center><h1>New Marks</h1>

<%= render 'form', mark: @mark %>

<%= link_to 'Back', marks_path %>
</center>
</div>
</div>
</div>
