<center>
<%= link_to '<button type="button">I am a Student</button>'.html_safe, new_student_session_path %>
<%= link_to '<button type="button">I am a Teacher</button>'.html_safe, new_teacher_session_path %>
</center>
